@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

/* @font-face{
    font-family: Futura;
    src: url('futur.ttf')
} */
:root{
    --futura: Futura;
    --highlight: rgba(26, 146, 243, 0.71);
    --active: rgba(23, 194, 94, 0.993);
    --line-height: 0.01;
    --letter-spacing: 0.0625rem;
}

.js-loading {
    opacity: 0;
}
.js-loading-complete {
    opacity: 1;
    transition: opacity .25s;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    align-items: center;
    gap: 3rem;
    overflow-x: hidden;
}

.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    top: 0;
    position: sticky;
    background-color: black;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.nav-section{
    display: flex;
    gap: 2.25rem;
    padding: 1rem;
}

.caption,
.sign-up-container{
    align-self: center;
}

.caption:hover h1{
    cursor: pointer;
    color: rgb(128, 128, 128);
    transition: 0.6s ease-out;
}

.caption{
    font-family:'Italiana', sans-serif;
    font-weight: lighter;
    letter-spacing: .1rem;
    align-self: center;
    font-size: larger;

    /* padding-left: 1rem; */
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    padding: 1rem;
}


.person-icon{
    filter: invert(100%);
    width: 2rem;
    height: 2rem;
    transform: translateY(30%);
}

.cta{
    display: inline-block;
    transform: translateY(-80%);
    visibility:hidden;
}

.cta:hover{
    cursor: pointer

}

.cta span a{
    color: inherit;
    text-decoration: none;
    letter-spacing: -2%;
    font-weight: bold;
    padding: .3rem;
}

.login-container::before{
    content: '';
    position: absolute;
    width:4rem;
    height: 4rem;
    background-color: black;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
    
}

.login-container:hover::before{
    transform: scale(1);
    transition: transform 1s ease 0.3s;
    background-color: var(--highlight);

}


.login-container:hover .person-icon{
    opacity: 0;
    transition: 0.1s ease-out 0.13s;
}


.login-container:hover .cta{
    visibility: visible;
    transition: 0.13s ease 0.5s;
}
.login-container .cta span{
    opacity: 0;
    z-index: 1;
}

.login-container:hover .cta span{
    opacity: 1;
    transition: opacity 0.5s ease-in 0.4s;
}




.sign-up-container{
    padding-right: 1rem;
}

.nav-link-container{
    display: flex;
    gap: 1.3rem;
    align-self: center;
    align-items: center;
    transform: translate(10%)
}



.nav-link{
    display: flex;
    place-content: center;
    align-self: center;
}

.nav-link a{
    font-size:largeR;
    padding: .2rem;
}

.active{
    font-size: small;
    font-weight: bold;
    color: var(--active)
}

.hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8rem;
    flex-wrap: nowrap;
    padding: 1rem;

}

.action-btn-container, .description-container{
    width: 50%;
}

.action-btn-container{
    width: 25%;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
}

.action-link{
    padding: 1.4rem;
    border: 1px solid;
    margin-top: .5rem;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}

.description-container{
    width: 420px;
    height: auto;
    border: 1px solid transparent

}

h1{
    line-height: 122.8%;
    letter-spacing: 0.06rem;
    font-size: 60px;
    text-align: left;
}


.description-container span{
    color: var(--highlight);
    /* border: 2px solid red; */
}

#fashion{
    color: var(--highlight)
}

.image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: .5rem;
    justify-content: space-evenly;
}

.image-container img{
    width: 536px;
    height: 536px;
}

.image-container img:hover{
    transform: scaleX(1);
    transition: 0.6s ease-in ;
    cursor: pointer
}

.shop-container{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-top: 12rem;
}

.child-01{
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
}

.text{
    font-size: 22px;
    text-align: left;
    padding: 0.45rem;
}

#rating{
    color: var(--active);
    font-size: larger;
    font-weight: bold;
    margin-left: .5rem;
    text-align: center;
    align-self: center;
}

#grey-out{
    color: grey;
    display: flex;
    align-self: flex-start;
    margin-top: 0.45rem;
    padding: 0.25rem;
    font-weight: bold;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: .5rem;
    width: 70%;
    z-index: -1;
}


.child-02 .shop-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .85rem;
    position: relative;
    padding: .5rem;
    width: 70%;
    z-index: -1;
}

.img-holder{
    display: flex;
    width: 90%;
    position: relative;
    place-content: center;
}
.img-holder img{
    max-width: 100%;
    border-radius: 10px;
    
}

.shop-link{
    padding: .5rem;
    border: 1px solid;
    margin-top: .5rem;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

.library{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
    margin-top: 64px;

}


.column-1{
    margin: 10px;
}

.book-card{    
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    position: relative
}

.author-details{
    border-left: 1px solid;
    margin-left: auto;
    padding: 2.5rem;
    height: fit-content;
    position: absolute; 
    opacity: 0
}
.visible{
    opacity: 1;
    transition: 0.3s ease-out;
    cursor:pointer;
}


.invisible{
    opacity: 0;
    transition: 0.9s ease-out;
}


/* .remain{
    opacity: 1;
    cursor: pointer
} */

.author-details h1{
    font-family: 'Montserrat-Alternates',;
    font-size: 16rem;
    font-weight: lighter;
}

#genre{
    font-weight: bolder;
    font-size: 2rem;
}

#title{
    font-weight: bolder;
}

#author{
    margin-top: 0.5rem;
}

#title, #genre{
    margin-top: 1rem
}

@media (max-width: 800px){
    .shop-container{
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0;
        justify-content: center;
    }
    .child-01{
        border-right: 1px solid transparent;
    }
}


